
[v-cloak] { display:none; }

#basicSearch{
  border: 1px solid #ced4da;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}
button:focus {outline:0;}
form{
  margin-top: 4%;
}
section{
  margin-top: 5%;
}
.form-check-label{
  padding-left: 0;
}

.form-check{
  margin-top: 3%;
  margin-left: 3%;
}

#selectcheck{
  position:relative;
  margin-right: 6px;
}

#accordion{
  background-color: #fff;
}

.card-header{
  background-color: #fff;
}

.first-row-col{
  padding-right: 0;
}
