{% extends "base.html" %}

{% block title %}Home {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}


{% block content %}

<section class="container">
  <div id="app">
    <div class="row">
      <div class="col">
        <h2> Search </h2>
      </div>

      <div class="col">
        <h2> Result </h2>
      </div>

      <div class="col">
        <h2> Choose a template </h2>
      </div>
    </div>

  <div class="row">
      <div class="col">
        <form>
          <input class="form-control" placeholder="Enter Text" v-model="search">
        </form>
      </div>
      <div class="col">
        <div class="list-group">


        </div>

      </div>
      <div class="col">
         <div id="accordion">
           <div class="card">
             <div class="card-header" id="headingAll">
               <h5>
                 <button class="btn btn-link" data-toggle="collapse" data-target="#bodyAll" aria-expanded="true" aria-controls="headingAll">
                   All
                 </button>
               </h5>
             </div>
             <div id="bodyAll" class="collapse" data-parent="#accordion">
               <div class="card-body">
               </div>
             </div>
           </div>

           {% for i in letter_categories %}
           <div class="card">
             <div class="card-header" id="heading{{i.policy_type}}">
               <h5>
                 <button class="btn btn-link" data-toggle="collapse" data-target="#body{{i.policy_type}}" aria-expanded="true" aria-controls="headingAll">
                   {{i.policy_type}}
                 </button>
               </h5>
             </div>
             <div id="body{{i.policy_type}}" class="collapse" data-parent="#accordion">
               <div class="card-body">
               </div>
             </div>
           </div>
           {% endfor %}
         </div>
      </div>

    </div>

</div>
</section>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='index.js')}}"></script>

{% endblock %}
