{% extends "base.html" %}

{% block title %}Home {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='letter.css')}}">
{% endblock %}


{% block content %}
<header class="container text-center">
    <img id="header" src="{{url_for('static', filename='index.css')}}" />
</header>
<section class="container">
    <p class="text-right"> Date: {{date}}</p>
</section>
<section class="container">
    <address> JOHN SMITH<br>
      123 SAMPLE ST <br>
      YORK, PA 17402
    </address>
</section>
<section class="container">
    <h4 class="text-center"> Are your properties prepared for freezing temperatures? </h4>
</section>
<article class="container text-justify">

    <p id="address"> 654 App St, York, PA 17402 </p>


</article>

<footer class="container text-center">
    <img id="footer" src="../static/img/footer.png" />
</footer>
{% endblock %}
